@charset "UTF-8";

html {
	background: linear-gradient(45deg, #323334 5%, #6303A2 0%, transparent 40%), 
	repeating-linear-gradient(45deg, #fc03f8, #323334, transparent 20px, transparent 180px),
	repeating-linear-gradient(-45deg, #fc03f8, #00dbfc, transparent 20px, transparent 240px), #77B9F7;
	opacity: .9;
	color: white;
}

h1 {
  font-size: 25px;
  float: left;
}

.topBar {
  border-bottom: 1px solid #8D8B8B;
  height: 50px;
  
}

.topBar .linkedIn {
  float: right;
  font-size: 20px;
  margin-right: 15px;
  padding-top: 15px;
}

.topBar .gitHub {
  float: right;
  font-size: 20px;
  margin-right: 25px;
  padding-top: 15px;
}

.profile {
 
  height: 700px;
}

.profile h3 {
  font-size: 80px;
  padding: 200px 0px 0px 150px; 
  width: 500px;
  
  
}

.profile h2 {
  margin-top: -80px;
  padding: 0px 0px 0px 150px;
  font-size: 20px;
  width: 500px;
  
}

.profile .profilePicture {
  float: right;
  margin-top: -250px;
  width: 200px;
  height: 300px;
  padding: 0px 100px 0px 0px;
}
