#myName {
  color: #a161d4;
  font-size: 3vmin;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-right: 25vw;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
  width: 100vw;
  text-align: left;
  background-color: #0c0c0c;
}

.PAC li {
  margin-right: 5vw;
  margin-top: 2vh;
  font-size: 2.2vh;
}

.Socials {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  color: #e0a06b;
}

.Socials li {
  margin-right: 5vw;
  margin-top: 1vh;
}

.navBar img {
  height: 4vh;
  margin-top: 1vh;
}

.PAC {
  display: flex;
  flex-direction: row;
  height: 6vh;
  color: #4cabe2;
  margin-right: 10vw;
}

ul {
  list-style-type: none;
}
